body {
  font-family: Palatino Linotype, sans-serif;
  background: #f0f4f8;
  margin: 0;
  padding: 0;
}

.card {
  background: #313131;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  width: 400px;
  margin: 100px auto;
  overflow: hidden; 
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 0;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: white;
  background-color: #5d747b;
  padding: 10px;
}

.stats {
    padding: 10px 20px;
  margin: 10px 0;
  text-align: left;
}
.stats p {
  margin: 5px 0;
  color: #f0f4f8;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}
button {
  padding: 8px 12px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: #5d747b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
button:hover {
  background-color: #58605a;
}

#log {
  color: #ddd;
  margin-top: 15px;
  text-align: center;
}
